<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歸檔</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>

<body>
<!--導航-->
<nav th:replace="_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini home icon"></i>首頁</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini folder icon"></i>分類</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini tags icon"></i>標籤</a>
            <a href="#" class="active item m-mobile-hide m-item"><i class="mini clone icon"></i>歸檔</a>
            <a href="#" class="item m-mobile-hide m-item"><i class="mini info icon"></i>關於我</a>
            <div class="right item m-mobile-hide m-item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="menu toggle m-right-top m-mobile-show">
        <i class="inverted large black sidebar icon"></i>
    </a>

</nav>
<!--中間內容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">歸檔</h3>
                </div>
                <div class="column right aligned">
                    共
                    <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}"> 106 </h2> 篇文章
                </div>
            </div>
        </div>
        <!--content-->
        <th:block th:each="item : ${archiveMap}">
        <h2 class="ui center aligned header" th:text="${item.key}">2018</h2>
        <div class="ui fluid vertical menu">
            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${item.value}">
                    <span>                    
                        <i class="mini teal circle icon"></i><span th:text="${blog.title}">漢娜的遺言</span>
                        <div class="ui teal basic label m-padded-tiny" th:text="${#dates.format(blog.updateTime, 'MMMdd')}">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny" th:text="${blog.flag}">原創</div>
            </a>
            <!--/*-->
            <a href="#" target="_blank" class="item">
                    <span>                    
                        <i class="mini teal circle icon"></i>漢娜的遺言
                        <div class="ui teal basic label m-padded-tiny">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny">原創</div>
            </a>
            <a href="#" target="_blank" class="item">
                    <span>                    
                        <i class="mini teal circle icon"></i>漢娜的遺言
                        <div class="ui teal basic label m-padded-tiny">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny">原創</div>
            </a>
            <a href="#" target="_blank" class="item">
                    <span>                    
                        <i class="mini teal circle icon"></i>漢娜的遺言
                        <div class="ui teal basic label m-padded-tiny">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny">原創</div>
            </a>
            <a href="#" target="_blank" class="item">
                    <span>                    
                        <i class="mini teal circle icon"></i>漢娜的遺言
                        <div class="ui teal basic label m-padded-tiny">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny">原創</div>
            </a>
            <!--*/-->
        </div>
        </th:block>
        <!--/*-->
        <h2 class="ui center aligned header">2017</h2>
        <div class="ui fluid vertical menu">
            <a href="#" target="_blank" class="item">
                    <span>                    
                        <i class="mini teal circle icon"></i>漢娜的遺言
                        <div class="ui teal basic label m-padded-tiny">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny">原創</div>
            </a>
            <a href="#" target="_blank" class="item">
                    <span>                    
                        <i class="mini teal circle icon"></i>漢娜的遺言
                        <div class="ui teal basic label m-padded-tiny">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny">原創</div>
            </a>
            <a href="#" target="_blank" class="item">
                    <span>                    
                        <i class="mini teal circle icon"></i>漢娜的遺言
                        <div class="ui teal basic label m-padded-tiny">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny">原創</div>
            </a>
            <a href="#" target="_blank" class="item">
                    <span>                    
                        <i class="mini teal circle icon"></i>漢娜的遺言
                        <div class="ui teal basic label m-padded-tiny">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny">原創</div>
            </a>
            <a href="#" target="_blank" class="item">
                    <span>                    
                        <i class="mini teal circle icon"></i>漢娜的遺言
                        <div class="ui teal basic label m-padded-tiny">9月03日</div>
                    </span>
                <div class="ui orange basic label m-padded-tiny">原創</div>
            </a>
        </div>
        <!--*/-->
        <!--footer-->
        <!--
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui mini teal basic button">上一頁</a>
                </div>
                <div class="column right aligned">
                    <a href="#" class="ui mini teal basic button">下一頁</a>
                </div>
            </div>
        </div>
-->
    </div>
</div>

<br>
<br>

<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="https://www.shareicon.net/download/2015/10/04/112034_man.svg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">最新文章</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用戶故事 (User Story) </a>
                    <a href="#" class="item">用戶故事 (User Story) </a>
                    <a href="#" class="item">用戶故事 (User Story) </a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">聯繫我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Line ID: nj830606</a>
                    <a href="#" class="item">Email: qzwxsa1234@gmail.com</a>
                    <a href="#" class="item"></a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">自我介紹</h4>
                <div class="ui inverted link list">
                    <p class="m-opacity-tiny m-text">小時候我以為長大後能拯救世界，等長大後才發現整個世界都拯救不了我。<br><br></p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny m-text-spaced m-text-thin">Copyright © 2018 Blog Designed by Sheng</p>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>

</html>
